<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11/dist/vue.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.min.js"></script>
  <link href="http://fonts.cdnfonts.com/css/scratch" rel="stylesheet">
  <link rel="stylesheet" href="style.scss">
  <title>DOCKET PAGE</title>
</head>
<body>
  <div class="app-container" id="taskList">
    <h1 class="app-header">DOCKECT LIST</h1>
    <div class="add-task">
      <input type="text" autocomplete="off" placeholder="Add New Task" v-model="tasks.name" @keyup.enter="newItem" class="task-input">
      <input type="submit" value="" class="submit-task" @click="newItem" title="Add Task">
    </div>
    <ul class="task-list">
      <li class="task-list-item" v-for="task in tasks">
        <label class="task-list-item-label">
          <input type="checkbox">
          <span>{{task.name}}</span>
        </label>
        <span @click="delItem(task)" class="delete-btn" title="Delete Task">{{task.del}}</span>
      </li>
    </ul>
  </div>
</body>
<footer class="end">
  <p>A product by sundar &#10084</p>
  <a href="https://twitter.com/sundar_k565"><img width="40px" src="https://cdn2.iconfinder.com/data/icons/colorful-guache-social-media-logos-1/155/social-media_twitter-256.png" alt="twitter-icon"></a>
  <a href="https://www.instagram.com/sundara_kannappan.k/"><img width="40px" src="https://cdn4.iconfinder.com/data/icons/colorful-guache-social-media-logos-1/155/social-media_instagram-black-256.png" alt="instagram-icon"></a>
  <a href="https://github.com/19BCE2302"><img width="40px" src="https://cdn3.iconfinder.com/data/icons/colorful-guache-social-media-logos-1/159/social-media_GitHub-256.png" alt="github-icon"></a>
  <a href="mailto: starboy024.sk@gmail.com"><img width="40px" src="https://cdn3.iconfinder.com/data/icons/colorful-guache-social-media-logos-1/159/social-media_gmail-256.png" alt="gmail-icon"></a>
</footer>
<script src="script.js"></script>
</html>